In [55]:
import requests
from secrets_config import api_key
import pandas as pd
# api_key = os.environ.get("api_key")

In [56]:
# other variables: Note: these are case-sensitive
from_symbol = 'USD'
to_symbol = 'RUB'

In [85]:
# goal state: 3 columns: 1. from_to symbols (USD_RUB), 2. Day, 3. avg price
url = f'https://www.alphavantage.co/query?function=FX_DAILY&from_symbol={from_symbol}&to_symbol={to_symbol}&apikey={api_key}'
r = requests.get(url)
response_data = r.json()

In [188]:
response_data['Meta Data']

{'1. Information': 'Forex Daily Prices (open, high, low, close)',
 '2. From Symbol': 'USD',
 '3. To Symbol': 'RUB',
 '4. Output Size': 'Compact',
 '5. Last Refreshed': '2022-09-28 01:25:00',
 '6. Time Zone': 'UTC'}

In [192]:
response_data.keys()

dict_keys(['Meta Data', 'Time Series FX (Daily)'])

In [ ]:
response_data['Time Series FX (Daily)']

In [191]:
df = pd.json_normalize(response_data)
df

,Meta Data.1. Information,Meta Data.2. From Symbol,Meta Data.3. To Symbol,Meta Data.4. Output Size,Meta Data.5. Last Refreshed,Meta Data.6. Time Zone,Time Series FX (Daily).2022-09-28.1. open,Time Series FX (Daily).2022-09-28.2. high,Time Series FX (Daily).2022-09-28.3. low,Time Series FX (Daily).2022-09-28.4. close,...,Time Series FX (Daily).2022-05-16.3. low,Time Series FX (Daily).2022-05-16.4. close,Time Series FX (Daily).2022-05-13.1. open,Time Series FX (Daily).2022-05-13.2. high,Time Series FX (Daily).2022-05-13.3. low,Time Series FX (Daily).2022-05-13.4. close,Time Series FX (Daily).2022-05-12.1. open,Time Series FX (Daily).2022-05-12.2. high,Time Series FX (Daily).2022-05-12.3. low,Time Series FX (Daily).2022-05-12.4. close
0,"Forex Daily Prices (open, high, low, close)",USD,RUB,Compact,2022-09-28 01:25:00,UTC,58.15000,58.15000,57.75000,57.75000,...,62.75000,63.87500,65.07500,66.10730,62.08350,64.50000,66.73790,67.00000,63.00000,64.74700

In [ ]:
df = pd.json_normalize(response_data, record_path=['Time Series FX (Daily)'])
df

In [ ]:
# df = pd.json_normalize(data=response_data, record_path=['Time Series FX (Daily)'])

In [ ]:
# Getting the date per day
for i in response_data['Time Series FX (Daily)']:
    print(i)

In [ ]:
# Getting the close values per day
for i in response_data['Time Series FX (Daily)'].values():
    print(i['4. close'])

In [131]:
transposed_df = df.T

In [132]:
transposed_df

                            0
2022-09-28.1. open   58.15000
2022-09-28.2. high   58.15000
2022-09-28.3. low    57.75000
2022-09-28.4. close  57.75000
2022-09-27.1. open   58.48880
...                       ...
2022-05-13.4. close  64.50000
2022-05-12.1. open   66.73790
2022-05-12.2. high   67.00000
2022-05-12.3. low    63.00000
2022-05-12.4. close  64.74700

[400 rows x 1 columns]